<div class="hero-unit">
<h1>关于</h1>
<h2>小组名称：清水组</h2>
<h2>小组成员：</h2>
<table class="table table-bordered table-hover table-striped">
	<tr>
		<th>姓名</th>
		<th>职位</th>
		<th>学院</th>
	</tr>
	<tr>
		<th>李畅</th>
		<th>组长</th>
		<th>上海交大电院计算机系</th>
	</tr>
	<tr>
		<th>刘岩</th>
		<th>组员</th>
		<th>上海交大电院计算机系</th>
	</tr>
	<tr>
		<th>王东</th>
		<th>组员</th>
		<th>上海交大电院计算机系</th>
	</tr>
	<tr>
		<th>王毅</th>
		<th>组员</th>
		<th>上海交大电院计算机系</th>
	</tr>
	<tr>
		<th>王兴华</th>
		<th>组员</th>
		<th>上海交大电院计算机系</th>
	</tr>
</table>
</div>