<div class="center hero-unit">
  <h1>欢迎来到谁去当班</h1>
  <p>想了解我们开发小组信息，请访问 </p>
  <%= link_to "关于", about_path, class: "btn btn-large btn-info" %>
  <p>有关任何帮助，请访问：</p>
  <%= link_to "帮助", help_path, class: "btn btn-large btn-warning" %>
  <p>注册用户请先</p>
  <%= link_to "登录",signin_path, class: "btn btn-large btn-success" %>
  <p>或者，不如</p>
  <%= link_to "马上注册", signup_path,class: "btn btn-large btn-primary" %>
</div>
